
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.top-section{
    padding: 0 0 60px 0px;
}
.banner {
    display: inline-flex;
    margin: 0 auto;
    width: 100%;
}
.banner .part-left, .about-bg .part-left {
    width: 40%;
    margin-left: 5%;
    padding: 20px;
    margin-top: 65px;
}
.big-title span {
    color: #FFA500;
}
.big-title h1, .about-bg .big-title h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: justify;
}
.big-title p, .about-bg .big-title p {
    font-size: 13px;
    text-align: justify;
    line-height: 20px;
    margin-bottom: 30px;
}
.order-btn a, .about-bg .big-title a {
    padding: 8px 15px;
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, rgb(221, 94, 137) 0%, rgb(247, 187, 151) 51%, rgb(221, 94, 137) 100%);
    border-radius: 50px;
}
.order-btn a:hover,.about-bg .big-title a:hover{
    background: #FA6957;
}
.banner .part-right img {
    width: 100%;
}
.banner .part-right, .about-bg .part-right {
    width: 40%;
    margin-left: 5%;
}

.about-section{
   padding: 50px 0;
}
.about-bg {
    display: inline-flex;
    height: 800px;
}
.about-bg{
    background-image: url(./image/shapes/7.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    width: 100%;
}
.about-bg .part-left{
    margin-top: 0px;
}
.about-bg .part-left img {
    width: 100%;
    height: 100%;
}

.about-bg .part-right {
    position: relative;
}
.about-bg .part-right .big-title {
    position: absolute;
    top: 40%;
    padding: 0% 15%;
}

/*recipe*/
.recipi-title-cont {
    
}
.recipi-title-cont h1 {
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}
.recipi-title-cont p {
    font-size: 13px;
    padding: 0% 36%;
    text-align: justify;
    margin-bottom: 25px;
}
.reci-list {
    display: flex;
    flex-direction: row;
}
.single-item {
    width: 30%;
    margin-left: 3%;
    box-shadow: 5px 6px 15px 0px #ccc;
    border-radius: 23px;
}
.image-div img {
    width: 100%;
    height: 100%;
}
.img-content {
    padding: 12px;
}
.img-content p {
    font-size: 15px;
}
/*cowndown*/
section.cuwondown {
    text-align: center;
    padding: 50px 0;
}
.cown-list {
    display: inline-flex;
    box-shadow: 5px 6px 15px 0px #ccc;
}
.cown-item {
    width: 350px;
    padding: 15px 0;
}
.cown-item h1 {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 700;
}
.cown-item p {
    padding-left: 70px;
    font-size: 15px;
}
/*form section*/
section.contact-us {
    position: relative;
    height: 540px;
    padding: 50px 0;
    background-image: linear-gradient(to right, #DD5E89 0%, #67e4b0 51%, #DD5E89 100%);
}
.contact-form {
    width: 100%;
    position: absolute;
    left: 30%;
}
form.form-tag {
    width: 40%;
    padding: 20px;
    box-shadow: -1px 1px 15px -7px #904646;
}
form.form-tag label {
    font-size: 20px;
    display: block;
    text-transform: capitalize;
    line-height: 40px;
}
form.form-tag input {
    width: 100%;
    outline: none;
    padding: 12px 5px;
    font-size: 15px;
}
form.form-tag span {
    display: flex;
    flex-direction: row;
}
.form-tag span input {
    width: 7%;
}
button.sub-btn {
    width: 115px;
    height: 40px;
    font-size: 17px;
    text-transform: capitalize;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 18px;
    outline: none;
    border: none;
}

/*footer*/
footer {
    padding: 0px 0px 40px;
    margin-top: -24px;
}
.copy-right {
    background: #000;
    color: #fff;
    height: 150px;
    line-height: 50px;
}
.copy-right h3 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #5b5b5b;
}
.copy-right span {
    color: #FB9249;
}
.copy-right p {
    text-align: center;
}